<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        img {
            max-width: 90%;
            max-height: 70vh;
            height: auto;
            border: 2px solid #ccc;
            padding: 10px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        }

        .content {
            max-width: 600px;
            margin: 30px auto;
            text-align: left;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='images/fakegranterror.jpg') }}" alt="Photo Credit: John Chrostek">
    <div class="content">
        <p>This app has encountered a fatal error. Please email or Slack Nick Bochenek at nick.bochenek@nonprofitmegaphone.com</p>
        <p>Please refresh the page to try again.</p>
    </div>
        <div class="flashed_messages_containter">
            <!-- Display Flashed Messages -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
</body>
</html>
